@import "http://webfonts.justanotherfoundry.com/Facit/";

body
{
background-image:url("http://i74.photobucket.com/albums/i280/krazeeboi4rmhell/texturetastic_gray.png");
}

.navbar {
	font-size:20px;
	line-height:35px;
	font-family:"Helvetica"
	font-weight:"light";
	
}

.content{

   margin-top:10px;
   
}

.projectblock {
	margin-top:60px;
}



.projectblock p {
	font-size:20px;

}

.workspage {
	margin-top:50px;
}

.hero-unit {
margin-top:40px;
min-height: 200px;
background: url("");
background-repeat:no-repeat;
}

.hero-unit > h1 {
margin-top:60px;
}

.gallery_item {
font-size:16px;
}

.samples {
margin-bottom:20px;
}

.description p {
font-size:50px;
}

.abouts p {
margin-bottom:80px;
font-size:10px;
}



.footer {
clear: both;
padding-right: 30px;
margin-top: 80px;
with: 715px;
height: 110px;
text-align: center;
float: center;
}

.contact {
margin-top: 30px;
}
  


