@import "http://webfonts.justanotherfoundry.com/Facit/";

body
{
background-image:url("http://i74.photobucket.com/albums/i280/krazeeboi4rmhell/texturetastic_gray.png");
}

.navbar {
	font-size:20px;
	line-height:35px;
	font-family:"Helvetica"
	font-weight:"light";
	
}

.content{

   margin-top:10px;
   
}

.projectblock {
	margin-top:120px;
}

.projectblock p {
	font-size:20px;

}

.workspage {
	margin-top:50px;
}

.hero-unit {
margin-top:50px;
min-height: 200px;
background: url("");
background-repeat:no-repeat;
}

.hero-unit > h1 {
margin-top:60px;
}

.samples {
margin-bottom:20px;
}

.description p {
font-size:50px;
}

.abouts p {
margin-bottom:80px;
font-size:10px;
}


.bottombar {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  
  }
  


